fastapi==0.115.5
uvicorn==0.32.0
pydantic==2.9.2
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
numpy==1.26.4
scikit-fuzzy==0.5.0
scipy==1.13.1
python-dotenv==1.0.1
python-jose==3.3.0
bcrypt==4.1.2
packaging==24.1
networkx==3.3
matplotlib==3.9.2